<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Test !</h1>

    {# Creation de variable #}
    {% set name = "Nicolas" %}
    {# ~ est le symbole de concaténation  #}
    <h2>Hello {{ name ~ " " ~ name }}</h2>
    <h2>Hello {{ name }} {{ name }}</h2>

    {# création d'un tableau #}
    {% set colors = ['red', 'purple', 'green', 'yellow'] %}

    {# boucler sur un tableau #}
    {% for color in colors %}
        <div style="background-color: {{ color }}">{{ color }}</div>
    {% endfor %}
</body>
</html>